<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--
    IsLogActive should be True or False
    -->
        <add key="IsLogActive" value="True"/>
        <add key="LogPath" value="C:\Logs"/>
        <add key="GetFPUAddUsers_iMaxEmpToSend" value="100"/>
        <add key="GetFPUDeleteUsers_iMaxEmpToSend" value="100"/>
        <add key="EarliestArrival" value="10"/>
        <add key="LateDeparture" value="10"/>
        <add key="LateTolerance" value="10"/>
        <add key="VeryLateTolerance" value="60"/>
        <add key="DecryptTemplates" value="False"/>
        <add key="ACFPUCODE" value="1"/> <!-- Fingerprint Input codes -->
        <add key="ACPCCODE" value="2,3"/> <!-- Card Input codes -->
        <add key="ACPINCODE" value="2"/> <!-- PIN Input codes -->
        <add key="TemplateType" value="2"/> <!-- 0=SY template, 1=BioStore, 2=BioSmack -->
        <add key="TemplatePath" value="C:\Log\"/>
        <add key="RdyFolder" value="C:\log\SyncMaster\Sync Master SAL\Tecoman" />
    </appSettings>
    <connectionStrings>
        <add name="ConnectionString" connectionString="Data Source=DILSHOD-PC;Initial Catalog=QCL;User ID=sa;Password=XXXXXXX" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" defaultLanguage="c#" targetFramework="4.0"></compilation>
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="None"></authentication>
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
        <webServices>
            <protocols>
                <add name="HttpGet"/>
                <add name="HttpPost"/>
            </protocols>
        </webServices>
        <identity impersonate="false"/>
        <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    </system.web>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="Service1.asmx"/>
            </files>
        </defaultDocument>
    </system.webServer>
    <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>
